.social-login 
    button.social-login_github  
        span 
            i.fab.fa-github
        |  continue with Github
    button.social-login_facebook
        span 
            i.fab.fa-facebook
        |  continue with Facebook